ion-title .custom-title {
    font-size: 2.5rem; /* Tamaño grande para el título */
    font-weight: bold;
    margin-bottom: 0.5rem; /* Agrega un pequeño espacio entre el título y el subtítulo */
  }
  
  ion-title .custom-subtitle {
    font-size: 1.2rem; /* Tamaño para el subtítulo */
    color: #ddd5d5; /* Color de subtítulo personalizado */
  }