<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      TellevoApp
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="partida" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="partida">
        <ion-icon name="home"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="map">
        <ion-icon name="map"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="configuracion">
        <ion-icon name="settings"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>


<!-- en caso de que deje de funcionar el mapa
  <ion-content>
<app-map></app-map>
</ion-content> 
-->